

.active-link{
    color: black;
}

.selected-link{
    color: black;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    /* background: url('/project/public/exam.jpg');
    max-width: 100%;
    height: auto; */
}

.main{
    width: 100%;
    min-height: 100vh;
    background-position:center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}